<footer class="footer-page">
  <a class="footer-page__nav-row" href="index.html">
    <img src="./assets/images/ico-arrow.svg" alt="" title="" />
  </a>
  <nav class="footer-page__nav-list">
    <ul class="footer-page__nav-list--menu">
      <li>
        <a
          class="footer-page__nav-list--rrss--link"
          href="https://adalab.es/"
          target="_blank"
          title="Ir a sección"
        >
          Articles
        </a>
      </li>
      <li>
        <a
          class="footer-page__nav-list--rrss--link"
          href="https://adalab.es/"
          target="_blank"
          title="Ir a sección"
          >Books</a
        >
      </li>
      <li>
        <a
          class="footer-page__nav-list--rrss--link"
          href="https://adalab.es/"
          target="_blank"
          title="Ir a sección"
          >Events</a
        >
      </li>
      <li>
        <a
          class="footer-page__nav-list--rrss--link"
          href="https://adalab.es/"
          target="_blank"
          title="Ir a sección"
          >Reasons</a
        >
      </li>
      <li>
        <a
          class="footer-page__nav-list--rrss--link"
          href="https://adalab.es/"
          target="_blank"
          title="Ir a sección"
          >Tips</a
        >
      </li>
    </ul>
  </nav>
  <nav class="footer-page__nav-list">
    <ul class="footer-page__nav-list--rrss">
      <li>
        <a
          class="footer-page__nav-list--rrss--link"
          href="https://adalab.es/"
          target="_blank"
          title="Ir a sección"
          >Twitter</a
        >
      </li>
      <li>
        <a
          class="footer-page__nav-list--rrss--link"
          href="https://adalab.es/"
          target="_blank"
          title="Ir a sección"
          >Instagram</a
        >
      </li>
      <li>
        <a
          class="footer-page__nav-list--rrss--link"
          href="https://adalab.es/"
          target="_blank"
          title="Ir a sección"
          >Mastodon social</a
        >
      </li>
    </ul>
  </nav>
  <div class="footer-page__copy">
    <p>&copy;2017</p>
    <p>we <span> ❤ </span>components</p>
    <!-- <p>we <span>&hearts;</span>components</p> -->
  </div>
</footer>
