<footer class="footer-page">
  <a class="footer-page__nav-row" href="#header" title="Ir a inicio">
    <img src="./assets/images/ico-arrow.svg" alt="Ir a inicio" title="Botón subir" />
  </a>
  <nav class="footer-page__nav-list">
    <ul class="footer-page__nav-list--menu">
      <li>
        <partial src="_footer-link.html" aClass="footer-page__nav-list--menu--link" link="Articles" title="Ir a articles"></partial>
      </li>
      <li>
        <partial src="_footer-link.html" aClass="footer-page__nav-list--menu--link" link="Books" title="Ir a books"></partial>
      </li>
      <li>
        <partial src="_footer-link.html" aClass="footer-page__nav-list--menu--link" link="Events" title="Ir a events"></partial>
      </li>
      <li>
        <partial src="_footer-link.html" aClass="footer-page__nav-list--menu--link" link="Reasons" title="Ir a reasons"></partial>
      </li>
      <li>
        <partial src="_footer-link.html" aClass="footer-page__nav-list--menu--link" link="Tips" title="Ir a tips"></partial>
      </li>
    </ul>
  </nav>
  <nav class="footer-page__nav-list">
    <ul class="footer-page__nav-list--rrss">
      <li>
        <partial src="_footer-link.html" aClass="footer-page__nav-list--rrss--link" link="Twitter" title="Ir a twitter"></partial>
      </li>
      <li>
        <partial src="_footer-link.html" aClass="footer-page__nav-list--rrss--link" link="Instagram" title="Ir a instagram"></partial>
      </li>
      <li>
        <partial src="_footer-link.html" aClass="footer-page__nav-list--rrss--link" link="Mastodon social" title="Ir a mastodon social"></partial>
      </li>
    </ul>
  </nav>
  <div class="footer-page__copy">
    <p>&copy;2017</p>
    <p>we <span class="heart"> ❤ </span>components</p>
    <!-- <p>we <span>&hearts;</span>components</p> -->
  </div>
</footer>
