<footer class="footer-page">
  <nav class="footer-page__nav-list">
    <ul class="footer-page__nav-list--menu">
      <li>Articles</li>
      <li>Books</li>
      <li>Events</li>
      <li>Reasons</li>
      <li>Tips</li>
    </ul>
  </nav>
  <nav class="footer-page__nav-list">
    <ul class="footer-page__nav-list--rrss">
      <li>Twitter</li>
      <li>Instagram</li>
      <li>Mastodon social</li>
    </ul>
  </nav>
  <div class="footer-page__copy">
    <p>&copy;2017</p>
    <p>we <span> ❤ </span>components</p>
  </div>
</footer>
