<section class="section-page" id="section-page">
  <h2 class="section-page__title">@@title</h2>
  <partial src="_section-content.html" title="3 Reasons to purchase" text="Aliquam in dolor et dolor tincidunt."></partial>
  <partial src="_section-content.html" title="Curabitur ac erat" text="Mauris mattis urna quis lorem molestie."></partial>
  <partial src="_section-content.html" title="Morbi dictum" text="Aliquam in dolor et dolor tincidunt."></partial>
  <div class="section-page__btn">
    <a class="section-page__btn--link" href="#">More reasons</a>
  </div>
</section>
