<section class="section-page" id="section-page">
  <h2 class="section-page__title">@@title</h2>
  <div class="section-page__content">
    <h3 class="section-page__content__subtitle">Ut sed metus</h3>
    <p class="section-page__content__text">
      Lorem ipsum dolor sit amet, consecteur.
    </p>
  </div>
  <div class="section-page__content">
    <h3 class="section-page__content__subtitle">Curabitur ac erat</h3>
    <p class="section-page__content__text">Mauris mattis urna quis lorem molestie.</ class="section-page__content__text">
  </div>
  <div class="section-page__content">
    <h3 class="section-page__content__subtitle">Morbi dictum</h3>
    <p class="section-page__content__text">Aliquam in dolor et dolor tincidunt.</p>
  </div>
  <div class="section-page__btn">
    <a class="section-page__btn--link" href="#">More reasons</a>
  </div>
</section>
