.footer-page {
  background-color: $color-blue-04;
  display: $displayFlex;
  flex-direction: $columnFlex;
  align-items: $center;
  position: relative;
  color: #fff;
  text-transform: $uppercaseText;
  text-align: $center;
  padding: 60px 0 45px 0;
  line-height: $lineHeightText-30;
  @media all and (min-width: 768px) {
    flex-direction: $rowFlex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 45px 39px;
    text-align: $left;
  }
  @media all and (min-width: 1280px) {
    justify-content: center;
    padding: 45px 39px;
  }
  &__nav-row {
    width: rem(45);
    height: rem(45);
    display: $displayFlex;
    justify-content: $center;
    position: $positionAbsolute;
    top: -22.5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-white;
    border-radius: $borderRadius-btn;
  }
  &__nav-list {
    @media all and (min-width: 768px) {
      margin-bottom: 0px;
    }
    &--menu,
    &--rrss {
      list-style: none;
      margin-bottom: 30px;
      @media all and (min-width: 768px) {
        margin-bottom: 0;
      }
      &--link {
        color: $color-white;
      }
    }
    &--menu {
      @media all and (min-width: 1280px) {
        margin-right: 60px;
      }
    }
  }
  &__copy {
    font-size: 14px;
    text-transform: $lowerCaseText;
    @media all and (min-width: 768px) {
      order: -1;
    }
    @media all and (min-width: 1280px) {
      margin-right: 60px;
    }
    .heart {
      color: $color-orange;
    }
  }
}
