.header-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: 0;
  background: url("../images/cover.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;
  padding-bottom: 13px;
  &__title {
    font-family: $font-main;
    text-transform: uppercase;
    color: white;
    line-height: 132px;
    font-size: 100px;
    text-align: center;
    width: 730px;
  }
  &__text {
    color: white;
    font-family: $font-main;
    margin-bottom: 13px;
  }
  &__icon {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
  }
}
