.section-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  padding: 30px 15px 60px 15px;
  background-color: $color-blue-01;
  text-align: $center;
  @media all and (min-width: 768px) {
    padding: 30px 40px 60px 40px;
    column-gap: 25px;
  }
  @media all and (min-width: 1280px) {
    padding: 60px 82px;
  }
  &__title {
    grid-column: span 3;
    @include texto(rem(24), rem(30));
    font-family: $font-title;
    text-transform: $capitalizeText;
    @media all and (min-width: 768px) {
      @include texto(rem(26), rem(45));
    }
    @media all and (min-width: 1280px) {
      font-size: rem(32);
    }
  }
  &__content {
    grid-column: span 3;
    @media all and (min-width: 768px) {
      grid-column: span 1;
    }
    &__subtitle {
      @include texto(rem(18), rem(30));
      font-weight: bold;
      @media all and (min-width: 768px) {
        font-size: rem(24);
      }
    }
    &__text {
      @include texto(rem(18), rem(30));
      padding: 0 50px;

      @media all and (min-width: 768px) {
        font-size: rem(20);
        padding: 0;
      }
    }
  }
  &__btn {
    grid-column: span 3;
    @media all and (min-width: 768px) {
      margin-top: 15px;
    }
    &--link {
      @include texto(rem(20), rem(45));
      font-weight: 500;
      padding: 5px 30px;
      color: $color-white;
      text-transform: $capitalizeText;
      background-color: $color-orange;
      border-radius: $borderRadius-btn;
      transition: ease 2s;
      &:hover {
        background-color: white;
        color: $color-orange;
        border: 2px solid $color-orange;
      }
      @media all and (min-width: 768px) {
        padding: 10px 40px;
      }
      @media all and (min-width: 768px) {
        padding: 10px 65px;
      }
    }
  }
}
