.header-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: url("../images/cover.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;
  padding-bottom: 53px;
  @media all and (min-width: 768px) {
    padding-bottom: 45px;
  }
  @media all and (min-width: 1280px) {
    padding-bottom: 13px;
    background-position: top left;
  }
  &__title {
    @include texto(rem(42), rem(55));
    font-family: $font-title;
    text-transform: $uppercaseText;
    color: $color-white;
    width: rem(290);
    text-align: $center;
    @media all and (min-width: 768px) {
      width: rem(690);
      @include texto(rem(80), rem(106));
    }
    @media all and (min-width: 1280px) {
      width: rem(730);
      @include texto(rem(100), rem(132));
    }
  }
  &__text {
    color: $color-white;
    font-family: $font-main;
    font-size: rem(16);
    margin: 10px 0 45px 0;
    @media all and (min-width: 768px) {
      font-size: rem(24);
      margin: 20px 0 30px 0;
    }
    @media all and (min-width: 1280px) {
      margin-top: 0px;
      margin-bottom: 30px;
    }
  }
  &__link {
    width: rem(45);
    height: rem(45);
    display: $displayInlineBlock;
    display: $displayFlex;
    justify-content: $center;
    background-color: $color-white;
    border-radius: $borderRadius-btn;
  }
}
