// fonts
$font-main: "Roboto", sans-serif;
$font-title: "Roboto Slab", sans-serif;

//section-page
//margin-bottom: 45px;

$lineHeightText-30: 30px;
$lineHeightText-45: 45px;
$uppercaseText: uppercase;
$lowerCaseText: lowercase;
$capitalizeText: capitalize;
