//DISPLAYS
$displayFlex: flex;
$displayInlineBlock: inline-block;

//FLEX
$columnFlex: column;
$rowFlex: row;

//POSITION
$positionFixed: fixed;
$positionRelatived: relative;
$positionAbsolute: absolute;

// colors
$color-white: #fff;
$color-grey: #4a4a4a;
$color-black: #000;
$color-blue-01: #eff9ff;
$color-blue-02: #8ccbea;
$color-blue-03: #0271bc;
$color-blue-04: #304268;
$color-orange: #f26002;

//ALIGN
$center: center;
$left: left;

//border-radius -btn
$borderRadius-btn: 22.5px;
